

<div class="slide-container">
    <h1 style="color: #fff;">These are your dayly tasks</h1>

  <div class="justify_logo">
    <%= link_to  new_task_path do %>
    <p><i class="far fa-plus-square FA-key add"></i></p>
    <% end %>
  </div>
  <% @tasks.each do |task| %>
  <div class="wrapper">
    <div class="clash-card barbarian">

      <div class="clash-card__image clash-card__image--barbarian">
        <% case %>
        <% when task.done == true  %>
        <div class="done"></div>
        <% when task.done == false && Date.current > task.due_date %>
        <div class="late"></div>
        <h4 class="orange-text"><%= Date.today.day - task.due_date.day %> days late</h4>
        <% when Date.current < task.due_date %>
        <div class="early">
        </div>
        <h4 class="orange-text"><%= task.due_date.day - Date.today.day %> days left</h4>
        <% when Date.current == task.due_date %>
        <div class="late">
        </div>
        <h4 class="orange-text"><%= "Today is your last day" %></h4>
        <% end %>
      </div>
      <div class="clash-card__level clash-card__level--barbarian"><%= task.due_date.strftime("%B %d, %Y") %></div>
      <div class="clash-card__unit-name"><%= task.name %></div>
      <div class="clash-card__unit-description"><%= task.description %></div>


      <div class="clash-card__unit-stats clash-card__unit-stats--barbarian clearfix">
      <% if task.done == false %>
        <div class="one-third">
        <div class="stat-value"><%= link_to "done",  done_task_path(task.id), method: :patch, class: 'event-link' %></div>
        </div>
        <div class="one-third">
          <div class="stat-value"><%= link_to 'Edit', edit_task_path(task), class: 'event-link' %></div>
        </div>
        <div class="one-third no-border">
          <div class="stat-value"><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'event-link' %></div>
        </div>
      <% else %>
              <div class="one-third">
        <div class="stat-value"><%= link_to "undo",  undo_task_path(task.id), method: :patch, class: 'event-link'  %></div>
        </div>
        <div class="one-third">
          <div class="stat-value"><%= link_to 'Edit', edit_task_path(task), class: 'event-link' %></div>
        </div>
        <div class="one-third no-border">
          <div class="stat-value"><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'event-link' %></div>
        </div>
      </div>
      <div class="clash-card__unit-stats clash-card__unit-stats--barbarian clearfix">
      </div>
      <% end %>



    </div> <!-- end clash-card barbarian-->
  </div> <!-- end wrapper -->
  <% end %>
</div>

